@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gantari";
  src: url("./assets/fonts/Gantari/Gantari-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-Black.ttf");
}
@font-face {
  font-family: "Raleway-Thin";
  src: url("./assets/fonts/Raleway/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway-Base";
  src: url("./assets/fonts/Raleway/Raleway-Regular.ttf");
}
